<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <!-- BlogSpark Main Stylesheet -->
    <link rel="stylesheet" href="/css/main.css">
    <%- style %>
        <!-- BlogSpark Success Component -->
        <link rel="stylesheet" href="/css/components/success.css">
        <script defer src="/js/success.js"></script>
        <!-- BlogSpark Warning Component -->
        <link rel="stylesheet" href="/css/components/warning.css">
        <script defer src="/js/warning.js"></script>
        <!-- BlogSpark Error Component -->
        <link rel="stylesheet" href="/css/components/error.css">
        <script defer src="/js/error.js"></script>
        <%- script %>
</head>

<body>
    <section class="main-section temp-section">
        <%- body %>
    </section>
    <%- include('../partials/success.ejs') %>
        <%- include('../partials/warning.ejs') %>
            <%- include('../partials/error.ejs') %>
</body>

</html>
